.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 16px 88px;
  @media (min-width: $tablet) {
    padding: 0 80px 88px;
  }
  @media (min-width: $desktop) {
    padding: 0 128px 176px 128px;
  }

  &__header {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    @media (min-width: $desktop) {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__link {
    text-decoration: none;
    color: $lightBlue;
    font-weight: bold;
  }
  &__paragraph {
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    @media (min-width: $desktop) {
      margin: 0px;
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__photo-container {
    position: relative;
    margin-bottom: 40px;
  }
  &__photo {
    box-sizing: content-box;
    margin-top: 98px;
    width: 96px;
    height: 96px;
    margin-bottom: 0px;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
    }
  }

  &__special {
    color: $blue;
  }
}

.text-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    &::before {
      content: url("../assets/img/{.svg");
    }
    &::after {
      content: url("../assets/img/}.svg");
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }
}

.cloud-wrapper {
  text-align: left;
  position: absolute;
  min-height: 96px;
  width: 240px;
  bottom: 154px;
  left: 180px;
  display: none;
  @media (min-width: $desktop) {
    display: block;

  }
}

.cloud {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  background: #1070ca;
  border-radius: 16px;
  padding: 16px 19px;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 32px;
    display: block;
    width: 17.42px;
    height: 22.66px;
    background: url("../assets/img/speech_cloud.svg");
  }
}
