.contact{
  padding: 0px 16px 88px 16px;
  display:flex;
  flex-direction: column;
  align-items:center;
  background: #DBEAF7;
    &__header{
      text-align: center;
      font-size: 36px;
      margin: 64px 0 32px 0;
    }
    &__paragraph{
      text-align: center;
      margin:0;
      margin-bottom: 56px;
    }
    &__icon{
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
      padding: 12px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
  }

  .icon-wrapper{
    width:192px;
    margin-bottom:64px;
    display:flex;
    justify-content: space-around;
  }