.contact {
  padding: 80px 16px 88px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lighterBlue;
  &__header {
    color: $textDark;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 32px;
  }

  &__paragraph {
    text-align: center;
    margin: 0 0 56px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
  
}

.socials{
  width: 192px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-around;

  &__link {
    box-sizing: content-box;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
    padding: 12px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}


