@media screen and (min-width: 960px) {
   
    ///////// contact section ///////////
    .contact {
        padding: 0 128px 176px 128px;
        flex-direction: row;
        flex-wrap: wrap;

        &__header {
            width: 100%;
            margin: 80px 0 40px 0;
            font-size: 48px;
            line-height: 56px;
        }
        &__paragraph {
            width: 100%;
            margin-bottom: 128px;
            font-size: 20px;
            line-height: 40px;
        }
    }

    .icon__container {
        margin: 0;
        margin-right: 110px;
        margin-left: auto;
        width: 192px;
        display: flex;
        justify-content: space-around;
    }
    .contact .email {
        margin-right: auto;
    }
}
