.projects{
  padding: 0 16px 0 16px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
    &__header{
      margin-top: 48px;
      font-size: 36px;
    }
    &__paragraph{
      text-align: center;
      margin-bottom: 46px;
    }
    &__wrapper{
      display:flex;
      flex-direction: column;
      width:100%;
      &--js{
        
      }
    }
  }

  .project{
    font-family: 'Roboto Mono', monospace;
    min-height: 320px;
    width: 100%;
    color: white;
    font-size: 13px;
    line-height: 24px;
    min-width:100%;
    background: url("../assets/img/github-small.svg") no-repeat 16px 64px,  #212528, ;
    border-radius: 16px;
    margin-bottom: 24px;
    
    &__top{
      height: 40px;
      background:  url("../assets/img/circles_top.svg") no-repeat 16px 16px, #1E1E1E;
      border-radius: 16px;
      margin-bottom: 72px;
    }

    &__info{
      padding: 0 16px 48px 16px;
      display:grid;
      grid-template-columns: 100px 1fr;
      align-content: center;
      color: #808082;
    }
    
  }


  .project__info>p{
    margin-top:0px;
    padding-left:4px;
  }

  .project__info>a{
    margin-top:0px;
    padding-left:4px;
  }

  .project__info>span{
    text-align: right;
  }

  .project-name{
    color: #FFFFFF;
    grid-row:1/2;
    grid-column: 2/3;
  }

  .project-description{
    color: #A3A3A3;
    grid-row:2/3;
    grid-column: 2/3;
    margin-bottom:24px;
  }

.link{
  color: #14B5D0;

}

  .project-demo{
    grid-row:3/4;
    grid-column: 2/3;
    margin-bottom:8px;
    color: #808082;
  }

  .project-github{
    grid-row:5/6;
    grid-column: 2/3;
    color: #808082;
  }

  .grid-item{
      &-1{
        grid-row:1/2;
        grid-column: 1/2;
      }
      &-2{
        grid-row:2/3;
    grid-column: 1/2;
      }
      &-3{
        grid-row:3/4;
        grid-column: 1/2;
      }
      &-4{
        grid-row:5/6;
    grid-column: 1/2;
      }
  }