$email: #4DA8FF;
$blue: #1070CA;
$textDark: #234361;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;
$textDefault: #425A70;

$darkerGray: #1E1E1E;
$darkGray: #212528;
$gray: #464A4D;
$lightGray: #808082;
$lighterGray: #A3A3A3;

$tablet: 768px;

$desktop: 960px;

