@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import "_variables";
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";


html{
  box-sizing:border-box;
}

*,
*:before,
*:after{
  box-sizing:inherit;
}


body {
  color: $textDefault;
  min-height: 100vh;
  font-family: Nunito;
}

html{
  scroll-behavior: smooth;
}

.email{

  padding: 4px 24px 4px 24px;
  border-radius: 64px;
  font-size: 20px;
  font-family: Nunito;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
  background: $email;
}

